<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

<!--新增菜品-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, price, image, description, create_time, update_time, create_user, update_user,category_id,status)
        values
        (#{name},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser},#{categoryId},#{status})
    </insert>

<!--    根据id删除菜品-->
    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    分页条件查询菜品-->
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name categoryName from dish d left outer join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
</mapper>
